services:
  # redis
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  # processor
  processor:
    image: ghcr.io/nilabhra/cursor-for-2d-animations/processor-prod:latest
    container_name: processor
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis

volumes:
  redis_data:
