services:
  mainapp:
    build:
      context: ..
      dockerfile: docker/Dockerfile.mainapp
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    env_file:
      - .env
