name: Check build on PR
on:
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: checkout to main-app
        run: cd main-app

      - name: Install dependencies
        run: bun install

      - name: Drizzle generate
        run: bun run db:generate

      - name: Build
        run: bun run build
